<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Matthew Kaelber</h3>
      </div>

      <div class="text-center">via Deborah Kurata on
        <a href="https://app.pluralsight.com/player?name=angular-2-getting-started-update-m0&course=angular-2-getting-started-update&author=deborah-kurata&clip=0">
          Pluralsight</a>
      </div>
    </div>
  </div>
</div>
